/***** BASE STYLES *****/
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
}
#About, #Work, #Contact {
    height: 600px;
}
/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}
/***** Header *****/
header {
   
}
header h1 { 
    padding: 65px 0 65px 25px;
    font-family: 'Lora', serif; 
    color:#BBC085;
    display: inline-block;
}
header nav {
    float: right; 
    padding: 75px 25px;
    display: inline-block;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform:uppercase;
    text-decoration:none; 
    font-size: 18px;
    color:#828282; 
    padding-left: 80px; 
}
header h2 {
    width: 1000px;
    clear: left;
    font-family: 'Lora', serif; 
    font-size: 60px; 
    line-height: 80px; 
    color:#9B9B9B;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color:#2B2B2B;
}
/***** About *****/
#About .full-width {
    padding: 80px 0;
}
#About h2 {
    font-family: 'Lora', serif; 
    font-size: 36px;
    padding-left: 40PX;
}
#About p {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 40PX;
    padding-left: 40PX;
    padding-right: 30PX;
}
/***** Work *****/
#Work {
    background: #cce7ff;
    text-align: center;
}
#Work .full-width {
    padding: 115px 0;
}
#Work img {
    padding-bottom: 30px;
}
#Work h3 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}
#Work p {
    font-family: 'Lora', serif; 
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/***** Contact *****/

#Contact {
    background-color: #EBEBEB;
}
#Contact .full-width {
    padding: 110px 0;
}
#Contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}
#Contact h2, #Contact #email-header, #Contact #socialmedia-header, #Contact ul {
    padding-left: 115px;
}
#Contact #envelope {
    padding: 0 10px 0 115px;
}
#Contact h2 {
    font-family: 'Lora', serif; 
    font-size: 36px;
    line-height: 40px;
}
#Contact #email-header{
    font-size: 32px;
    font-weight: lighter;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#Contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#Contact a {
    text-decoration:none; 
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#Contact ul {
    list-style: none;
}
#Contact ul li {
     display: inline-block;
}
#Contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
