/***** BASE STYLES *****/
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
    text-align: center; 
}

p{
    font-size: 22px;
}

h2 {
    font-size: 30px;
    font-family: Cambria;
}
#About, #Work, #Contact {
    height: 600px;
}
/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}
/***** Header *****/
header h1 { 
    padding: 65px 0 65px 25px;
    font-family: 'Lora', serif; 
    color:#BBC085;
    display: inline-block;
}
header nav {
    float: right; 
    padding: 75px 25px;
    display: inline-block;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform:uppercase;
    text-decoration:none; 
    font-size: 18px;
    color:#828282; 
    padding-left: 80px; 
}
header h2 {
    width: 1000px;
    clear: left;
    font-family: 'Lora', serif; 
    font-size: 60px; 
    line-height: 80px; 
    color:#9B9B9B;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color:#2B2B2B;
}
/***** About *****/
#About {
    font-family: 'Lora', serif; 
    font-size: 30px;
    color: #5793a1;
    line-height: 40PX;
    padding-left: 40PX;
    padding-right: 40PX;
    text-align: center;
    background-image: url(img/cacti.jpg);
}
#About h2 {
    background-color: #5793a1;
    color: #2B2B2B;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px 300px;
}


/***** Projects *****/
#Projects h1{
    font-family: 'Russo One';
    font-size: 50px;
    text-align: center;
}



/* Slideshow container */* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: .5}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/***** Contact *****/

#Contact {
    background-color: #EBEBEB;
}
#Contact .full-width {
    padding: 110px 0;
}
#Contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}
#Contact h2, #Contact #email-header, #Contact #socialmedia-header, #Contact ul {
    padding-left: 115px;
}
#Contact #envelope {
    padding: 0 10px 0 115px;
}
#Contact h2 {
    font-family: 'Lora', serif; 
    font-size: 36px;
    line-height: 40px;
}
#Contact #email-header{
    font-size: 32px;
    font-weight: lighter;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#Contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#Contact a {
    text-decoration:none; 
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#Contact ul {
    list-style: none;
}
#Contact ul li {
     display: inline-block;
}
#Contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
* {box-sizing:border-box}


#Skills h2{ 
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
}

#Resume h1{
    font-family: 'Russo One';
    font-size: 50px;
    text-align: center;
    align-items: center;
    Color: rgb(0, 147, 205);
}
#resume h3{
    font-family: monospace;
}
.job{
        border: #BBC085;
        text-align: center;
        align-items: center;
        padding: 50px;
        background: #BBC085;
        width: 400px;    
}
.Codelucida, .cdim{
    float: right;
}
.cfa{
    float: left;
}
